h1{
    font-size: 50px;
}

.first-part{
    display: flex;
    
}

.half-first-part{
 width: 50%;
 padding-left: 10%;
 padding-top: 5%;
}
.half-first-part img{
    width: 80%;
    padding-top: none;
   }


.healthy{
    color: royalblue;
}
.Go{
    text-decoration: none;
    color: gainsboro;
    background-image: linear-gradient(rgb(10, 6, 6),green);
    padding: 10px 20px;
    border-radius: 20px;
    font-weight: bold;
    
}
.second-part{
    display: flex;
}
.second-half-part{
    width: 50%;
}