h1{
    font-size: 50px;
}

.first-part{
    display: flex;
    
}

.half-first-part{
 width: 50%;
 padding-left: 10%;
 padding-top: 5%;
}
.half-first-part img{
    width: 80%;
    padding-top: none;
   }


.healthy{
    color: royalblue;
}
.Go{
    text-decoration: none;
    color: gainsboro;
    background-image: linear-gradient(rgb(10, 6, 6),green);
    padding: 10px 20px;
    border-radius: 20px;
    font-weight: bold;
    
}
.second-part{
    display: flex;
    background-image: url(bg.png);
}

.second-half-part img{
    padding-left: 25%;

    padding-top: 10%;
}
.second-half-part{
    width: 50%;
    padding-left: 20px;
    padding-right: 5px;
}
.order{
    text-decoration: none;
    color: gainsboro;
    background-image: linear-gradient(rgb(10, 6, 6),green);
    padding: 10px 20px;
    border-radius: 20px;
    font-weight: bold;

}

#third-part-heading{
    padding-top: 2px;
    font-size: 50px;
    text-align: center;
}
#third-part-paragraph{
    padding-top:0;
    padding-left: 250px;
    padding-right: 250px;
    font-size: 20px;
    text-align: center;

}
.first-one-third{
    padding-left: 10px;
    padding-right: 10px;
}

.first-one-third img{
    border-radius: 20px;
}
.fourth-part{
    display: flex;
}


.last{
    color: white;
    font-size: 20px;
    text-align: center;
    background-color: black;
    padding: 20px 100px 20px 100px;
}